.colunas{
    background-color:rgb(78, 76, 76);
    color: rgb(209, 220, 231);
    font-size:large;
    padding-right: 4vh;
    padding-left: 3vh;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: right;
}
.row{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(217, 228, 228);
    text-align: center;

}